*{
margin: 0;
padding: 0;box-sizing: border-box;
}

nav{
    width: 100%;
    min-height: 100px;
    background-color: dodgerblue;
    position: sticky;
    top: 0;
    left: 0;
}

.tpo-btn{
 
        align-items: center;
        background-color: #da002b;
        border: 2px solid #da002b;
        border-radius: 50%;
        display: flex;
        height: 60px;
        justify-content: center;
        opacity: 0;
        transform: translate(-100%);
        transition: all .2s ease-in-out 0s;
        width: 60px;
        z-index: 20;
        bottom: 24px;
        left: 20px;
        opacity: 1;
        position: fixed;
        transform: translate(0);
}